.container-adm {
  width: 70%;
  margin: 15px auto;
  padding: 25px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  text-align: center;
}

.form-adm {
  margin: 18px auto;
}

.span-adm {
  font-weight: bold;
}
